:root {
    --backgroundBody: hsl(234, 29%, 20%);
    --signUp: hsl(0, 0%, 100%);
    --button: hsl(235, 18%, 26%);
    --tomato: #ff6257;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    height: 100vh;
    background-color: var(--backgroundBody);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sign-up-main {
    border-radius: 1rem;
    margin: 3rem;
    background-color: var(--signUp);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-main {
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    width: 22rem;
}

h1 {
    font-size: 2.9rem;
}

h3 { 
    font-weight: 400;
    font-size: 0.95rem;
    margin: 1.3rem 0;
    line-height: 1.4rem;
}

.container-list {
    display: flex;
    height: 5rem;
    flex-direction: column;
    justify-content: space-between;
}

.subcontainer-list {
    display: flex;
    flex-direction: row;
}

.icon-list {
    height: 1.3rem;
    margin-right: 0.7rem;
}

.text-list {
    font-size: 0.9rem;
}

.img-sign-up-main {
    margin: 1rem 1rem 1rem 0;
    height: 30rem;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.container-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.2rem 0.5rem ;
}

.label-form {
    margin-top: 1.5rem;
    font-size: 0.75rem;
    font-weight: 700;
}

.label-required {
    color: var(--tomato);
    display: none;
}

.email {
    height: 2.9rem;
    border-radius: 0.6rem;
    margin: 0.3rem 0 1rem 0;
    border: #444 2px solid;
    padding: 0.5rem 1rem;
}

.submit-form {
    height: 2.9rem;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 0.6rem;
    background: var(--button);
}

.submit-form:hover {
    background: linear-gradient(45deg, #ff537c, #ff683a);
    cursor: pointer;
}
