:root {
    --backgroundBody: hsl(234, 29%, 20%);
    --signUp: hsl(0, 0%, 100%);
    --button: hsl(235, 18%, 26%);
    --tomato: #ff6257;
    --text: hsl(231, 7%, 60%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    height: 100vh;
    background-color: var(--backgroundBody);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    font-size: 0.86rem;
    color: var(--backgroundBody);
    line-height: 1.3rem;
}

h1 {
    font-size: 2.9rem;
    color: var(--backgroundBody);
    line-height: 3rem;
}

h3 { 
    font-weight: 400;
    font-size: 0.9rem;
    margin: 1.3rem 0;
    line-height: 1.4rem;
    color: var(--backgroundBody);
}

.sign-up-main {
    border-radius: 1rem;
    margin: 3rem;
    background-color: var(--signUp);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-main {
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.container-list {
    display: flex;
    height: 5rem;
    flex-direction: column;
    justify-content: space-between;
}

.subcontainer-list {
    display: flex;
    flex-direction: row;
}

.icon-list {
    height: 1.3rem;
    margin-right: 0.7rem;
}

.img-sign-up-main {
    margin: 1rem 1rem 1rem 0;
    height: 30rem;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.container-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.2rem 0.5rem ;
}

.label-form {
    margin-top: 1.5rem;
    font-size: 0.75rem;
    font-weight: 700;
}

.label-required {
    color: var(--tomato);
    display: none;
}

.img-top {
    display: none;
}

.submit-form {
    height: 2.9rem;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 0.6rem;
    background: var(--button);
}

.submit-form:hover {
    background: linear-gradient(45deg, #ff537c, #ff683a);
    cursor: pointer;
    border: none;
}

/* Page Success */

.success-main {
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 3.2rem 3.8rem;
    width: 27rem;
    height: 28rem;
}

.icon-success {
    width: 3.8rem;
}

.description-success {
    width: 20rem;
}

.submit-form {
    width: 100%;
}

/* Validation email */

#user-email {
    font-weight: 700;
}

.email {
    color: var(--backgroundBody);
    background: white;
    height: 2.9rem;
    border-radius: 0.6rem;
    margin: 0.3rem 0 1rem 0;
    border: #444 2px solid;
    padding: 0.5rem 1rem;
}

.invalid-email {
    color: #ff6257;
    background: #ffe7e5;
    border: #ff6257 1px solid;
}

/* Responsive Desing */

@media screen and (max-width: 375px) {
    
    .sign-up-main {
        width: 100vw;
        justify-content: flex-start;
        margin: 0;
        flex-direction: column;
    }

    .img-top {
        width: 100%;
        display: block;
    }

    .img-bottom {
        display: none;
    }

    .section1-main {
        padding: 2rem 0.8rem;
    }

    .container-list {
        height: auto;
    }

    /* Page Success */

    .success-main {
        padding: 3.5rem 2.3rem;
        width: 90vw;
        justify-content: space-between;
        align-items: center;
    }

    .description-success {
        width: auto;
        text-wrap: pretty;
    }
    
}