:root {

 --PrimaryPurple: hsl(259, 100%, 65%);
 --PrimaryRed: hsl(0, 100%, 67%);
 --OffWhite: hsl(0, 0%, 94%);
 --OffGrey: hsl(0, 0%, 86%);
 --SGrey: hsl(0, 1%, 44%);
 --OffBlack: hsl(0, 0%, 8%);

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

body {
    background-color: var(--OffWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    margin-right: 0.5rem;
    font-size: 4.0rem;
    font-weight: bold;
    font-style: italic;
    line-height: 4.6rem;
}

/* Class Styles */

.age-calc-main {
    background-color: white;
    border-radius: 1rem 1rem 8rem 1rem;
    padding: 2rem;
}

.prompt-age-container, .calc-result {
    display: flex;
    flex-direction: row;
}

.label-form, .calc-result-container {
    display: flex;
    flex-direction: column;
}

.label-text {
    font-weight: 700;
    font-size: 0.67rem;
    letter-spacing: .1rem;
    color: var(--SGrey);
    margin: 0 0rem 0.5rem 0.2rem;
}

.select-date {
    padding: 0.42rem 0.75rem;
    border-radius: 0.4rem;
    border: 1px var(--OffGrey) solid;
    margin: 0 0.8rem 0 0;
    width: 7rem;
    font-size: 1.22rem;
}

/* Divider form */

.divider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divider {
    width: 26.5rem; 
    height: 0.124rem; 
    background-color: var(--OffGrey); 
}

.none {
    display: none;
}

.submit-container {
    display: flex;
    align-items: center;
    border-radius: 100%;
    background-color: var(--PrimaryPurple);
    border: none;
    cursor: pointer;
}

.submit-img {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
}

/* Result date */

.result {
    color: var(--PrimaryPurple);
}

/* Invalid Date */

.input-error {
    display: none;
    font-size: 0.6rem;
    font-weight: 400;
    margin-top: 0.6rem;
    color: var(--PrimaryRed);
}

/* Responsive Design */

@media screen and (max-width: 375px) {

    body {
        width: 100vw;
    }

    h2 { 
        font-size: 2rem;
        line-height: 3rem;
    }

    .age-calc-main {
        width: 85vw;
        border-radius: 1rem 1rem 6rem 1rem;
        padding: 1.7rem 1rem 0.8rem 1rem;
    }

    .select-date {
        width: 22vw;
        font-size: 0.8rem;
    }

    .input-error {
        font-size: 0.55rem;
        width: 4rem;
    }

    .divider-container {
        margin-top: 1.2rem;
    }

    .submit-img {
        width: 3rem;
        height: 3rem;
    }

    .none {
        display: block;
    }

    .calc-result-container{ 
        margin: 1rem 0.5rem 0.5rem 2.2rem;
    }

}